<section class="container">
  <h3>{{collection.name}}</h3>
  <section class="flex-row justify-center">
    {{#each collection.nft as |nft|}}
    {{> nft-details}}
    {{/each}}
  </section>
</section>